* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

nav {
    padding: 20px 0;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    width: 100%;
}

nav ul {
    display: flex;
    justify-content: center;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    display: inline-block;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    transition: all 0.5s;
}

nav ul li a:hover,
nav ul li a.active {
    border-color: white;
}

.wrap {
    height: 100vh;
    font-size: 50px;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrap:nth-child(1) {
    background-color: aquamarine;
}

.wrap:nth-child(2) {
    background-color: bisque;
}

.wrap:nth-child(3) {
    background-color: darkgray;
}

.wrap:nth-child(4) {
    background-color: greenyellow;
}

.wrap:nth-child(5) {
    background-color: khaki;
}

.wrap:nth-child(6) {
    background-color: thistle;
}

.wrap:nth-child(7) {
    background-color: cornflowerblue;
}

/* back button */
.home {
    position: fixed;
    bottom: 10px;
    left: 10px;
    background-color: #fff;
    display: inline-block;
    padding: 20px 40px;
    border-radius: 50px;
    color: #333;
    transition: all 0.3s;
    text-decoration: none;
}

.home:hover {
    left: 20px;
}