body {
    background-color: antiquewhite;
    font-family: sans-serif;
}

section {
    background-color: aliceblue;
    max-width: 600px;
    min-width: 300px;
    margin: 60px auto;
    border-radius: 5px;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1);
}

.container {
    margin: 50px;
    padding: 40px 0;
    text-align: center;
}

.container h2 {
    font-size: 30px;
    text-transform: uppercase;
}

.container img#userImage {
    border-radius: 50%;
    border: 5px solid #fff;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1);
}

.container h4#name {
    font-size: 20px;
}

.container h5#designation {
    color: red;
    font-size: 15px;
}

.buttons button#next,
.buttons button#prev {
    border: none;
    background-color: red;
    padding: 10px 20px;
    cursor: pointer;
}

.buttons button#random {
    background-color: transparent;
    border: 2px solid red;
    color: red;
    font-size: 14px;
    margin-top: 10px;
    padding: 8px 15px;
    cursor: pointer;
}