* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

a {
    text-decoration: none;
}

body {
    background-color: lightslategrey;
}

h1 {
    text-align: center;
    margin: 40px 0;
}

.container {
    width: 90%;
    margin: auto;
}

.galleryCover {
    position: relative;
}

.gallery {
    overflow: hidden;
}

.galleryItems {
    width: 100%;
}

.gallery .item img {
    width: 100%;
}

#nextBtn,
#prevBtn {
    position: absolute;
    border: none;
    padding: 0px 20px 10px;
    font-size: 45px;
    cursor: pointer;
    top: 40%;
    display: none;
}

#nextBtn {
    right: -20px;
}

#prevBtn {
    left: -20px;
}

/* back button */
.home {
    position: fixed;
    bottom: 10px;
    left: 10px;
    background-color: #fff;
    display: inline-block;
    padding: 20px 40px;
    border-radius: 50px;
    color: #333;
    transition: all 0.3s;
}

.home:hover {
    left: 20px;
}